/**/

body{
    background: #f3f5fc;
    background-image: url("img/bg.png");
}
.logo{
    text-transform: uppercase;
    color: #0A3871;
}
#space{
    padding-top: 20px;
}

::placeholder {
    color:#0A3871;
}
p{
    color: #0A3871; 
}
.text-area:focus{
    outline:  none;
}
.mensaje:focus{
    outline:none;
}
.text-area{
    border: #0A3871 solid 1px;
    color: #0A3871;
    background: #f3f5fc;
    text-transform: lowercase;
    font-size: 24px;
    border-radius: 20px;
    text-indent: 15px;
    resize: none;
}
.mensaje{
    background: white;
    background-image: url("img/muneco.png");
    background-repeat: no-repeat; 
    border: none;
    border-radius: 15px;
    text-indent: 15px;
    font-size: 20px;
    color: #0A3871;
    resize: none;
   
}

  .mensaje:focus{
    outline:none;
}  